@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500&family=Playfair:wght@300&display=swap');

body {
    background-color:white;
    font-family: 'Geologica', sans-serif;
}

.form-control {
    width: 350px;
}

.produk {
    background-color: pink;
    margin: 0;
    padding: 5px;
    padding-top: 16px;
}

.img-cart {
    width: 50px;
}
